* {
    padding: 0;
    margin: 0;
}

.home {
    width: 92%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 26px;
    background-color: rgba(10, 5, 5, 0.644);
    display: flex;
    justify-content: space-between;
}

.haha {
    display: flex;
    gap: 24px;
    align-items: center;

}

.haha a {
    color: white;
    text-decoration: none;
}

.haha a:hover {
    color: yellow;
}

.home-under {

    height: 100vh;
    color: rgba(255, 255, 255, 0.674);
    background-image: linear-gradient(200deg, #000000, rgba(0, 0, 0, 0.208), rgba(0, 0, 0, 0.214)), url(image/Country-banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home-under h1 {
    margin-top: 132px;
    color: white;
    font-size: 72px;
}

.home-under h1 strong {
    color: yellow;
}

.home-under p {
    width: 70%;
    color: white;
    font-size: 32px;
    text-align: center;
}

.card-image img {
    width: 100px;
    height: 100px;
}

/* --------------pn-value---------- */
#PN-value {
    width: 100%;
    height: 80vh;
}

.card-all-value {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-all-value:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(175, 26, 26, 0.2);
}

.PN-value-h1 {
    width: 95%;
    padding: 4%;
    font-size: 40px;
    display: flex;
    justify-content: center;

}

.card {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;
}

.card-all-value {
    width: 40%;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(137, 136, 136);
    display: flex;
    gap: 32px;
}

.card-sentence p {
    margin-top: 16px;
}

/* --------------canteen----------------- */
#canteen {
    width: 100%;
    height: 90vh;

}

.line {
    width: 70%;
    padding: 20px;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.canteen-head {

    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canteen-head h1 {
    font-size: 40px;
}

table,
th,
td {
    margin-top: 16px;
    background-color: yellow;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

thead,
tr,
th {
    background-color: red;
}

th,
td {
    padding: 10px;
}

.foods {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.type-of-food {
    width: 90%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

}

.foods-image img {
    border-radius: 10px;
}

.foods-image p {
    margin-top: 32px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.49);

    display: flex;
    justify-content: center;
}

.foods-image {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foods-image:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(175, 26, 26, 0.2);
}

/* ---------------sport----------- */
#sport {
    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sport {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sport h1 {
    padding: 16px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.sport p {
    width: 70%;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.sport-card {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

}

.sport-image:hover {
    transform: translateY(-10px);
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.451);
}

.sport-image {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 16PX;
 
}

.sport-image p {
    padding: 10px 0px;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(22, 22, 22, 0.211);
    margin-top: 32px;
    font-size: 32px;
}

/* -------------aerobic------------ */
#aerobic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Aerobic-text h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.Aerobic-text{
    width: 50%;
    
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Aerobic-text p{
    padding: 20px;
    font-size: 20px;
}
.Aerobic-card{
    width: 80%;
}
.imege-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.imege-aerobic{
    margin-left: 80px;
    width: 18.75%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.441);
    border-radius: 16px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.imege-aerobic:hover{
    transform: translateY(-16px);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.441);
}
.imege-aerobic p{
    font-size: 20px;
    margin-top: 20px;
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.348);
    display: flex;
    text-align: justify;
}
/* ---------------contanct-------- */
#contanct-us {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;

}
.top{
    display: flex;
    justify-content: center;

}
.contanct-us{
    display: flex;
}
.Contact-text {
    width: 50%;
    padding: 100PX;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.Contact-text h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

.Contact-text p {
    display: flex;
    text-align: start;
}

.login {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h1 {
    font-size: 32px;
    margin-top: 40px;
    margin-left: -250px;
    display: flex;
    justify-content: center;

}

form {
    margin-top: 20px;
    width: 50%;
    padding: 56px 32px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.608);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.name input {
    width: 42%;
    gap: 20px;
}

.name {
    display: flex;
    justify-content: space-between;
}

form input {
    padding: 16px 8px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.442);
}

form button {
    width: 50%;
    padding: 12px 4px;
    border-radius: 16px;
    background-color: blue;
    color: white;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.442);
}

.submit {
    display: flex;
    justify-content: center;
}
/* -----------------contact-item----------------------------- */
.contact-container {
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    font-family: Arial, sans-serif;
}

.contact-item {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    align-items: flex-start;
    gap: 10px;
}

.icon {
    font-size: 18px;
}

.label {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}
.label-text{
    font-size: 18px;
}

/* ----------------google-map---------------- */
.google-map{
    width: 100%;
    display: flex;
   justify-content: space-around;

}
.google-text{
    width: 40%;
}
.google-text h1{
font-size: 40px;
margin-bottom: 20px;
}
.google-text{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
/* ----------------footer------------ */
.footer-section {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;

    margin-top: 100px;
    margin-left: 16px;
    color: black;
    flex-wrap: wrap;
    font-size: 20px;
    
    gap: 30px;
}

.footer-column {
    flex: 1 1 200px;
    min-width: 200px;
    margin-left: 20px;
    
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
}

.a {
    color: black;
    text-decoration: none;
}

.a:hover {
    text-decoration: underline;
}
